/* This files implements the custom styles onto the movie website */

/* Font Colors */
h1{
  color: #fff;
}

h2{
  color: #e81c1c;
}

p{
  color: #b4b1b2;
}

label{
  color: #fdfcfc;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}


/* Background Colors */
.grey{
  background-color: grey;
}
.dark-black{
  background-color: #211D25;
}
.medium-black{
  background-color: #36313C;
}
.light-grey{
  background-color: #b1b1b1;
}
.dark-grey{
  background-color: #656060;
}

/* Containers */
.spacer{
  height: 41px;
}

.section{
  position: relative;
}

/* iframe configurations */
.wrapper {
  margin:0 auto; 
}

.h_iframe {
  position:relative; 
  padding-top: 56%;
}

.h_iframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%; 
  height:100%;
}


/* Posters */
.poster{
  width: 100%;
  opacity: 0.8;
}

.poster-main{
  position: absolute; 
  top: 81px; 
  left: 0;
}

.poster-xs{
  margin-top: 20px;
}


/* Disclaimer Modal */
.disclaimer-header, .disclaimer-footer{
  border-width: 0px
}


/* Navbar */
.navbar{
  min-height: 80px;
}

.navbar-collapse{
  margin-top: 15px;
}

.navbar-default{
  background-color: #363131;
  border-color: #363131;
}

.navbar-default .navbar-nav>li>a{
  color: #e81c1c;
  font-weight: bold;
  font-size: 22px;
  font-family: 'PT Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-right {
    float: right !important;
  }
  .navbar-nav>li{
    float: left;
  }
  .nav>li>a{
    padding: 10px 5px;
  }

  .navbar-brand{
    padding-bottom: 0;
    height: 0px;
  }
  .navbar-collapse{
    margin-top: 0;
    border-top: 0px #363131;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
  }
  .navbar-default .navbar-nav>li>a{
    font-size: 14px;
  }
}


/* Details */
.overlay{
  padding: 5px 10px;
  border: #b1b1b1 solid 3px;
  background-color: rgba(0,0,0,0.5);
  /*  opacity: 0.5; background-color: black; */
}

@media screen and (max-width: 767px){
  .synopsis-xs{
    margin: 20px 15px;
  }
}

@media screen and (min-width: 768px){
  .synopsis-xs{
    margin: 60px 15px 20px 15px;
  }
}

@media screen and (min-width: 992px){
  .trailer{
    margin-top: 82px;
  }
  .synopsis-md{
    margin-top: 85px;
  }
  .detail-row{
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px){
  .trailer{
    margin-top: 140px;
  }
  .detail-row{
    margin-top: 0;
  }
  .overlay{
    margin-bottom: 30px;
  }
}



/* Gallery/Carousel */
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .fa-chevron-circle-left {
  left: 50%;
}
.carousel-control .fa-chevron-circle-right {
  right: 50%;
}
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-circle-left,
  .carousel-control .fa-chevron-circle-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
}



/* Session Buttons*/
.cinema-btn{
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  color: #e81c1c;
}

.button-holder{
  text-align: center;
}

@media screen and (max-width: 767px){
  .cinema-btn{
    width: 200px;
    height: 60px;
  }
  .button-holder{
    padding: 2px 0;
  }
}

@media screen and (min-width: 768px){
  .cinema-btn{
    width: 200px;
    height: 100px;
  }
  .button-holder{
    padding: 3px 0;
  }
}

@media screen and (min-width: 992px){
  .cinema-btn{
    width: 180px;
    height: 90px;
  }
  .button-holder{
    padding: 5px 0;
  }
}

@media screen and (min-width: 1200px){
  .cinema-btn{
    width: 200px;
    height: 110px;
  }
  .button-holder{
    padding: 5px 0;
  }
}


/* Modal Windows with Tables */
.showtime-modal-header{
  color: #F1EFEA;
}

.showtime-modal-content{
  background-color: #3e3c40;
}

.showtime-close{
  color: #F1EFEA;
  /*background-color: #413E46;
  opacity: 0.2;*/
}

.close-btn{
  color: #fbf5f5;
  background-color: #69666d;
}

.table{
  color: #DDD8CE;
}

.table > tbody > tr > td{
  border-top: 0px;
}

.table tr td:first-of-type{
  color: #D3D0CA;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #554D57;
}



/* Locations */
a[data-toggle="collapse"]{
  text-decoration: none;
}

a[data-toggle="collapse"] > .panel-heading{
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

a[data-toggle="collapse"] > .panel-heading:hover{
  background-color: rgba(224,224,224,1.6);
  cursor: pointer;
}

